<div class="bootstrap-frm">
	
	<h1><strong>Seja Bem-Vindo // Welcome // Bien Venu!</strong></h1>
	
	<div>
		<h3><p>MENU:</p></h3>
	</div>
		<ul> 
			<li><%= link_to "Contatos", contacts_path %></li>
			<li><%= link_to "Tipos", kinds_path %></li>
			<li><%= link_to "Endereços", addresses_path %></li>
			<li><%= link_to "Hospitais", hospitals_path %></li>
			<li><%= link_to "Telefones", phones_path %></li>
		</ul>
	
	<p><i><small>&copy Data Base application made by: gpineappleb</small></i></p>
</div>

	<!-- Rotas padrões:	<li><a href="https://virtualmachine-gpineappleb.c9users.io/kinds">Tipos</a></li>
	<li><a href="https://virtualmachine-gpineappleb.c9users.io/addresses">Endereços</a></li>
	<li><a href="https://virtualmachine-gpineappleb.c9users.io/hospitals">Hospitais</a></li>
	<li><a href="https://virtualmachine-gpineappleb.c9users.io/phones">Telefones</a></li>
	-->
